<div class="container w-75 p-2">
    <h2 *ngIf="poll">{{isNew ? "New Poll" : "Edit Poll N. " + poll.id}}</h2>
    <h2 *ngIf="!poll && isManager">Create Poll</h2>

    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Status</label>
            <select class="form-control" id="exampleFormControlSelect1" [value]="poll ? poll.status : ''"
                placeholder="status">
                <option value="1">Created</option>
                <option value="2">Started</option>
                <option value="3">Closed</option>
                <option value="4">Tallied</option>
            </select>
        </div>

        <!--Title of poll-->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" value="{{poll ? poll.title : ''}}">
        </div>

        <div class="form-group">
            <label for="multipleChoice">Mode</label>
            <select class="form-control" id="multipleChoice" [value]="poll.multipleChoice"
                placeholder="Mode">
                <option value="false">Single-choice</option>
                <option value="true">Multiple choice</option>
            </select>
        </div>

        <!--All choices, get displayed from poll.choices-->
        <div class="form-group" *ngFor="let ans of poll?.choices; index as i">
            <div class="row">
                <div class="col-md-11 col-sm-11">
                    <label for="idPollsession">Choice {{i + 1}}</label>
                    <input type="text" class="form-control" id="idPollsession" placeholder="Enter Choice {{i + 1}}"
                        maxlength="50" value="{{ans.text}}">
                </div>
                <!--Remove button, disabled when only 3 choices (3 choices are minimum)-->
                <div class="col-md-1 col-sm-1 vcenter"> <button type="button" class="btn btn-default"
                        [disabled]="poll?.choices.length == 3" (click)="removeItem(i)">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button></div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-default col-md-1 col-md-offset-11" (click)="poll?.choices.push({id: '', title: ''})">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>