<h2>Poll session n. {{pollsession.id}}</h2>

<div class="panel panel-default">
    <div class="panel-heading">Polls</div>
    <div class="panel-body">
        <div *ngFor="let poll of pollsession.polls">
            <div class="d-flex justify-content-around">
                <div class="col-sm-3">id: {{poll.id}}</div>
                <div class="col-sm-3">title: {{poll.title}}</div>
                <div class="col-sm-3">status: {{poll.status}}</div>
                <div class="col-sm-3" >
                    <a *ngIf="poll.status == 2" routerLink="{{'poll/' + poll.id}}" class="btn btn-success btn-lg" role="button"
                        aria-pressed="true">vote</a>
                </div>
            </div>
        </div>
    </div>
</div>