<div class="container w-75">
    <h2>Manage User of Pollsession</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <h3>Users</h3>
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div *ngFor="let user of allusers" class="top7" style="height: 50px;">
                    <div class="d-flex justify-content-around spacing">
                        <label>
                            <input type="checkbox" name="{{user.id}}" id="{{user.id}}" (change)="updateChange(user, $event)" [checked]="checkedUser.includes(user)">
                            {{user.username}}
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" (click)="save()">Add User</button>
            </form>
        </div>
    </div>
</div>