<div class="container w-75">
    <h2>Manage User of Pollsession</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <h3>Users</h3>
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div *ngFor="let user of allusers" class="top7" style="height: 50px;">
                    <div class="d-flex justify-content-around spacing">
                        <label>
                            <input type="checkbox" name="{{user.id}}">
                            {{user.username}}
                        </label>

                        <div class="col-sm-4 vcenter">{{user.username}}</div>
                    </div>
                </div>
                <button type="submit">Add User</button>
            </form>
        </div>
    </div>
</div>