<div class="container w-75 p-2">
    <h2>Poll session n. {{pollsession.id}}</h2>
    <div>
        <a routerLink="add" class="btn btn-success btn-lg" role="button" aria-pressed="true">Create Poll</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Polls</div>
        <div class="panel-body">
            <div *ngFor="let poll of pollsession.polls" class="top7">
                <div class="d-flex justify-content-around">
                    <div class="col-sm-3">id: {{poll.id}}</div>
                    <div class="col-sm-3">title: {{poll.title}}</div>
                    <div class="col-sm-3">status: {{poll.status}}</div>
                    <div class="col-sm-3">
                        <a *ngIf="isManager" routerLink="{{'edit/' + poll.id}}" class="btn btn-primary btn-lg"
                            role="button" aria-pressed="true">modify</a>
                        <a *ngIf="!isManager && poll.status == 1" routerLink="{{'vote/' + poll.id}}"
                            class="btn btn-success btn-lg" role="button" aria-pressed="true">vote</a>
                        <div *ngIf="!isManager && poll.status != 1">nichts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>