<div class="container w-75 p-2">
    <h2>{{isNew ? "New Pollsession" : "Poll session n."+ pollsession.id }}</h2>


    <div *ngIf="isNew">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
    </div>

    <!--List of polls in this pollsession-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <h3>Polls</h3>
            </div>
            <div *ngIf="isManager">
                <a routerLink="add" class="btn btn-success btn-lg" role="button" aria-pressed="true">Create Poll</a>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let poll of pollsession.polls" class="top7" style="height: 50px;">
                <div class="d-flex justify-content-around spacing">
                    <div class="col-sm-3 vcenter">id: {{poll.id}}</div>
                    <div class="col-sm-3 vcenter">title: {{poll.title}}</div>
                    <div class="col-sm-4 vcenter">status: {{status[poll.status - 1]}}</div>
                    <div class="col-sm-2 vcenter">
                        <a *ngIf="isManager" routerLink="{{'edit/' + poll.id}}" class="btn btn-primary btn-lg"
                            role="button" aria-pressed="true">modify</a>
                        <!--Button Vote, change if statement for different statuses-->
                        <a *ngIf="!isManager && poll.status == 1 || poll.status == 2" routerLink="{{'vote/' + poll.id}}"
                            class="btn btn-success btn-lg" role="button" aria-pressed="true">vote</a>
                        <div *ngIf="!isManager && poll.status != 1">
                            <div style="width: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--List of users who subscribed to this Pollsession-->
    <div *ngIf="isManager" class="panel panel-default">
        <div class="panel-heading">
            <div>
                <h3>User of Pollsession</h3>
            </div>
            <div *ngIf="isManager">
                <a type="button" class="btn btn-success btn-lg" routerLink="users">
                    Manage Users
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div *ngFor="let user of users" class="top7">
                <div class="d-flex justify-content-around">
                    <div class="col-sm-1">id: {{user.id}}</div>
                    <div class="col-sm-11">username: {{user.username}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isManager"><button class="btn btn-success col-md-offset-11 col-md-1" (click)="createPollSession()">Create</button></div>

    <!-- Modal for license -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div *ngFor="let u of users">
                        <label>
                            <input type="checkbox">
                            {{u.username}}
                        </label>
                    </div>
                    <button class="btn btn-success" data-dismiss="modal">Add Users</button>
                </div>
            </div>
        </div>
    </div>
</div>